body {background-color: #B0C4DE;
	margin-left: 0px;
}


ul#menu li 
{
	display: inline;
	padding: 0 5px;
}
#menu li a 
{
	background-color: black;
	color: white;
	padding: 10px 40px;
	text-decoration: none;
	border-radius: 10px 10px 0 0;
}


#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}

.footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
   	padding:10px;	 
    position:center; 
}
